/Testing/lab4/nbproject/
/Testing/ejerTestParam - tarea/nbproject/
/Testing/ejerTestParam - tarea/target/
/Testing/JavaApplication90/nbproject/private/
/Testing/JavaApplication90/build/
/Testing/boletoAereoApp-master/nbproject/
/Testing/mockito_coffeeMaker-master/mockito1app-practico opcional/nbproject/
/Testing/Lab7/mockito1app-practico opcional/nbproject/
/Testing/sudoku/nbproject/private/
/Testing/sudoku/build/
/Testing/sudoku/target/
/Testing/sudoku/nbproject/
/Testing/seleniumMercuryApp-master/target/
/Testing/SegundoParcial/calculadora-spring-main/target/
/Testing/SegundoParcial/logeo/logeoapi-main/target/
/Testing/SegundoParcial/logeo/logeoapi-main/logeoapi/nbproject/
/Testing/SegundoParcial/logeoapi/nbproject/
/Testing/aqui esta/Lab4/nbproject/
/Testing/aqui esta/Lab7/mockito1app-practico opcional/nbproject/
/Vanilla/nbproject/private/
/Vanilla/dist/
/Vanilla/build/
/Arrays/dist/
/Basics/concatenacion_de_textos/nbproject/private/
/Basics/concatenacion_de_textos/build/
/Basics/introducir_datos_por_consola/nbproject/private/
/Basics/introducir_datos_por_consola/build/
/Basics/ejercicios/nbproject/private/
/Basics/ejercicios/build/
/Basics/funciones_en_cuestion_a_requerimientos/nbproject/private/