/Testing/lab4/nbproject/
/Testing/ejerTestParam - tarea/nbproject/
/Testing/ejerTestParam - tarea/target/
/Testing/JavaApplication90/nbproject/private/
/Testing/JavaApplication90/build/
/Testing/boletoAereoApp-master/nbproject/
/Testing/mockito_coffeeMaker-master/mockito1app-practico opcional/nbproject/
/Testing/Lab7/mockito1app-practico opcional/nbproject/